<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="shortcut icon" href="<%= image_path '/favicon.ico' %>" type="image/x-icon">
	<link rel="icon" href="<%= image_path '/favicon.ico' %>" type="image/x-icon">
	
	<title><%= BLOGTITLE %></title>
	
	<%= stylesheet_link_tag 'ink/base' %>
	
	<%# uncomment this and add the public/stylesheets/styles.css file for custom styles %>
	<%#= stylesheet_link_tag 'styles' %>
	
	<%= yield :stylesheets %>
	
	<%= auto_discovery_link_tag(:atom, posts_url(:format => :atom)) %>
</head>

<body id="top">
	<div id="page" name="page" class="<%= controller.controller_name %> <%= controller.action_name %>">
		<div id="header">
			<%= site_messages %>			
			<div id="site_id">
				<%= link_to_unless_current(%(<span class="image_replacing_text"></span>#{BLOGNAME}), home_path,
					:id => 'site_logo', :class => 'text_replaced_by_image') do |name|
						content_tag('span', name, :id => 'site_logo', :class => 'text_replaced_by_image')
					end %>
			</div>
		</div>
		<div id="container">
			<%= yield %>
		</div>
	</div>
	<div id="footer">
		<%= render :partial => 'content/footer' rescue nil %>
		<%= link_to_top %>
	</div>
	
	<%= javascript_include_tag :defaults %>
	<%= yield :javascript_includes %>
	<%= yield :javascript_tags %>
</body>

</html>
